@import '../fonts/material/material-icons.css';
@import 'core';

html * {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}
